<div class="divide-y-[1px] dark:divide-[#34302D] [&>section]:[transition:border-color_300ms] divide-[#EFEDEB] flex flex-col divide-solid px-[10px]">
  <section class="py-[48px] flex flex-col gap-[24px]">
    <h1 class="decor-underline w-[241px]">Hi, I'm Paulina <span class="absolute top-[-3px]">👋</span></h1>
    <p class="whitespace-pre-wrap p-normal [transition:color_300ms]"><%= "I’m on a journey to become a front-end web developer. I love building little projects, trying out new coding techniques, and sharing what I learn along the way. When I’m not at my desk, you’ll find me reading, hiking through the mountains, or challenging myself on rock-climbing walls.\n\nI started this blog to document my progress, keep myself accountable, and hopefully inspire anyone else who’s learning to code. Welcome to my corner of the internet, and thanks for stopping by!" %></p>
    <%= render 'shared/social_links' %>
  </section>
  <section class="py-[48px] flex flex-col gap-[32px]">
    <h2 class="h1 decor-underline-2 bg-[7em_1em] w-full">Latest Articles</h2>
    <div id="article-container" class="flex flex-col gap-[24px] [transition:height_300ms]  overflow-y-clip">
      <% 
        articles = JSON.parse(File.read(Rails.root.join('db', 'data.json')))
        articles.each_with_index do |article, index| 
      %>
      <section class="flex flex-col w-fit gap-[8px] article-item <%= index >= 5 ? 'hidden' : '' %>">
        <a class="[&>h3]:text-[rgb(52,48,45,1)] dark:[&>h3]:text-[#FEFEFE] [&:hover>h3]:text-[rgb(52,48,45,0.7)] dark:[&:hover>h3]:text-[rgba(254,254,254,0.8)] dark:[&:hover>h3]:decoration-[rgba(254,254,254,0.6)] [&:hover>h3]:underline rounded-[8px] [&:hover>h3]:decoration-[rgb(52,48,45,0.5)]" href="/blog/<%= article['slug'] %>">
          <h3 class="color-unset [transition:color_300ms,text-decoration_300ms] decoration-[rgb(52,48,45,0)]"><%= article['title'] %></h3>
        </a>
        <p class="p-italic [transition:color_300ms]"><%= article['publishedAt'].to_date.strftime('%B %-d, %Y') %></p>
      </section>
    <% end %>
    <% if articles.length > 5 %>
      <button 
          id="view-all-button"
          onclick="toggleArticles()"
          class="decor-underline-3 rounded-[8px] w-fit cursor-pointer hover:text-[rgba(52,48,45,0.7)] text-[rgba(52,48,45,1)] text-[18px] font-[500] [transition:color_300ms] hover:dark:text-[rgba(254,254,254,0.7)] dark:text-[#FEFEFE] leading-[150%] tracking-[-0.5px]">
        View all articles
      </button>
    <% end %>
  </section>
</div>
<% content_for :scripts do %>
  <%= javascript_include_tag 'articles.js' %>
<% end %>