<main class="flex max-w-[calc(640px-18px)] [width:calc(100%-18px)] flex-col h-full min-h-[200px] [border-inline:1px_solid_#EFEDEB] flex-1">
  <div class="divide-y-[1px] divide-[#EFEDEB] flex flex-col divide-solid px-[10px]">
    <section class="py-[32px] flex flex-col gap-[24px]">
      <h1 class="decor-underline w-fit">Hi, I’m Paulina 👋</h1>
      <p class="whitespace-pre-wrap p-normal"><%= "I’m on a journey to become a front-end web developer. I love building little projects, trying out new coding techniques, and sharing what I learn along the way. When I’m not at my desk, you’ll find me reading, hiking through the mountains, or challenging myself on rock-climbing walls.\n\nI started this blog to document my progress, keep myself accountable, and hopefully inspire anyone else who’s learning to code. Welcome to my corner of the internet, and thanks for stopping by!" %></p>
      <ul class="flex gap-[12px]">
        <% [
          { src: 'logo-x.svg' },
          { src: 'logo-github.svg' },
          { src: 'logo-linkedin.svg' },
          { src: 'logo-frontend-mentor.svg' }
        ].each do |icon| %>
          <li>
            <a href="#" class="hover:bg-[#EFEDEB] [transition:background-color_300ms,border_300ms] hover:border-[#DEDCDA] w-[40px] h-[40px] rounded-[10px] border-[1px] border-[#EFEDEB] bg-[#FEFEFE] flex items-center justify-center cursor-pointer">
              <img role="decoration" src="<%= asset_path(icon[:src]) %>" alt="" />
            </a>
          </li>
        <% end %>
      </ul>
    </section>
    <section class="py-[32px] flex flex-col gap-[32px]">
      <h2 class="h1 decor-underline-2 w-full">Latest Articles</h2>
      <div id="article-container" class="flex flex-col gap-[24px] [transition:height_300ms] h-[450px] overflow-y-clip">
        <% 
        articles = JSON.parse(File.read(Rails.root.join('db', 'data.json')))
        articles.each_with_index do |article, index| 
      %>
        <section class="flex flex-col w-fit gap-[8px] article-item <%= index >= 5 ? 'hidden' : '' %>">
          <a class="[&>h3]:text-[rgb(52,48,45,1)] [&:hover>h3]:text-[rgb(52,48,45,0.7)] [&:hover>h3]:underline [&:hover>h3]:decoration-[rgb(52,48,45,0.5)]" href="<%= article['slug'] %>">
            <h3 class="color-unset [transition:300ms] decoration-[rgb(52,48,45,0)]"><%= article['title'] %></h3>
          </a>
          <p class="p-italic"><%= article['publishedAt'].to_date.strftime('%B %-d, %Y') %></p>
        </section>
      <% end %>
      <% if articles.length > 5 %>
        <button 
          id="view-all-button"
          onclick="toggleArticles()"
          class="decor-underline-3 w-fit cursor-pointer hover:text-[rgba(52,48,45,0.7)] text-[rgba(52,48,45,1)] text-[18px] font-[500] [transition:color_300ms] leading-[150%] tracking-[-0.5px]">
          View all articles
        </button>
      <% end %>
    </section>
  </div>
</div>
</main>
<% content_for :scripts do %>
  <%= javascript_include_tag 'articles.js' %>
<% end %>