<!DOCTYPE html>
<html class="">
  <head>
    <title><%= content_for(:title) || "Rails Personal Blog" %></title>
    <meta name="description" content="Frontend Mentor challenge.">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%# Remove or comment out the next line %>
    <%#= javascript_importmap_tags %>
    <%= javascript_include_tag 'theme' %>
    <script>
      window.ASSETS = {
        sunIcon: "<%= asset_path('icon-sun.svg') %>",
        moonIcon: "<%= asset_path('icon-moon.svg') %>"
      };
    </script>
  </head>
  <body class="hidden bg-[#FBF9F7] [transition:background-color_300ms] dark:bg-[#1C1A19] min-h-dvh flex flex-col items-center py-[20px] px-[16px] [font-family:DM_Sans,serif]">
    <nav
  class="bg-[#FEFEFE] dark:bg-[#1F1F1F] flex items-center p-[6px] border-[#EFEDEB] dark:border-[#333333] border-[1px] mx-auto max-w-[640px] [transition:background-color_300ms,border-color_300ms] w-full rounded-[10px] min-h-[52px]">
      <img class="rounded-[10px]" height="32" width="32" src="<%= asset_path('image-avatar.jpg') %>" alt="Avatar of person">
      <ul class="flex items-center gap-[24px] ml-auto">
        <nav class="flex items-center h-full gap-[32px]">
          <% [
            { title: 'Home', url: root_path, controller: 'home' },
            { title: 'Blog', url: blog_path, controller: 'blog' },
            { title: 'About', url: '/about', controller: 'about' },
            { title: 'Newsletter', url: '/newsletter', controller: 'newsletter' }
          ].each do |nav_item| %>
            <%= link_to nav_item[:title], 
                nav_item[:url], 
                class: "nav-item #{current_page == nav_item[:controller] ? 'active' : ''} dark:text-white dark:hover:text-gray-300" %>
          <% end %>
        </nav>
      </ul>
      <button id="theme-switch" onclick="toggleTheme()" class="ml-[20px] flex items-center justify-center cursor-pointer rounded-[8px] [transition:border-color_300ms,background-color_300ms] border-[#EFEDEB] dark:border-[#34302D] border-[1px] w-[40px] h-[40px] bg-[#FBF9F7] dark:bg-[#1F1F1F]">
        <img role="decoration" src="<%= asset_path('icon-moon.svg') %>" alt="Switch to dark mode">
      </button>
    </nav>
    <main class="flex max-w-[calc(640px-18px)] [width:calc(100%-18px)] flex-col h-full min-h-[200px] [border-inline:1px_solid_#EFEDEB] dark:[border-inline:1px_solid_#34302D] flex-1 [transition:border-color_300ms]">
      <%= yield %>
    </main>
    <footer class="flex max-w-[calc(640px-18px)] mt-auto [width:calc(100%-18px)] flex-col h-full [border-inline:1px_solid_#EFEDEB] dark:[border-inline:1px_solid_#34302D] [transition:border-color_300ms]">
      <div class="[border-top:1px_solid_#EFEDEB] dark:[border-top:1px_solid_#333333] justify-between flex items-center pt-[16px] pb-[32px] mx-[10px] [transition:border-color_300ms]">
        <span class="text-[#4A4846] dark:text-[#E5E5E5] text-[16px] leading-[130%] tracking-[-0.2px] flex items-center gap-[6px] [transition:color_300ms]">Made with <img height="16" width="16" src="<%= asset_path('header-ruby-logo.png') %>" alt="ruby">
          and <img height="16" width="16" src="<%= asset_path('rails.png') %>" alt="rails">
        </span>
        <ul class="flex gap-[16px]">
          <% [
    { svg: '<svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" fill="none" viewBox="0 0 18 16"><path fill="inherit" d="m.399 0 6.6 8.825L.357 16h1.495l5.815-6.282L12.365 16h5.087l-6.971-9.321L16.663 0h-1.495L9.813 5.785 5.486 0H.399Zm2.198 1.101h2.337L15.254 14.9h-2.337L2.597 1.1Z"/></svg>' },
  { svg: '<svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" fill="none" viewBox="0 0 18 17"><path fill="inherit" d="M6.195 13.503c0 .066-.066.1-.165.1-.1.032-.166-.034-.166-.1s.067-.132.166-.132.165.066.165.132Zm-1.024-.165c.033-.066.132-.099.23-.066.1.033.133.1.133.165a.159.159 0 0 1-.198.066c-.1 0-.165-.099-.165-.165Zm1.486-.033c.066-.033.166.033.166.1.033.065-.034.098-.133.131s-.198 0-.198-.066c0-.099.066-.165.165-.165ZM8.805.62c4.592 0 8.325 3.502 8.325 8.06 0 3.668-2.247 6.806-5.55 7.897-.43.099-.595-.166-.595-.397 0-.264.033-1.652.033-2.742 0-.793-.264-1.288-.562-1.553 1.85-.198 3.8-.462 3.8-3.634 0-.925-.33-1.354-.86-1.949.067-.23.364-1.09-.098-2.246-.694-.231-2.28.892-2.28.892-.66-.198-1.354-.264-2.081-.264-.694 0-1.388.066-2.048.264 0 0-1.62-1.09-2.28-.892C4.147 5.21 4.411 6.07 4.51 6.3c-.529.595-.793 1.024-.793 1.95 0 3.171 1.883 3.435 3.733 3.633-.264.232-.462.595-.528 1.124-.496.231-1.685.594-2.412-.694a1.77 1.77 0 0 0-1.288-.859c-.793 0-.034.529-.034.529.53.23.892 1.189.892 1.189.496 1.486 2.809.991 2.809.991v2.048c0 .198-.133.463-.562.397C3.023 15.485.744 12.347.744 8.679c0-4.558 3.502-8.06 8.06-8.06ZM3.948 12.017c.033-.033.1 0 .166.033.066.066.066.165.033.198-.067.033-.133 0-.199-.033-.033-.066-.066-.165 0-.198Zm-.363-.265c.033-.033.066-.033.132 0s.1.066.1.1c-.034.066-.1.066-.166.032-.066-.033-.1-.066-.066-.132Zm1.057 1.19c.066-.066.165-.033.231.033s.066.165.033.198c-.033.066-.132.033-.198-.033-.099-.066-.099-.165-.066-.198Zm-.363-.496c.066-.033.132 0 .198.066.033.066.033.165 0 .198-.066.033-.132 0-.198-.066s-.066-.165 0-.198Z"/></svg>' },
    { svg: '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 16 16"><path fill="inherit" d="M3.646 15.25H.476V5.057h3.17V15.25ZM2.044 3.694c-.989 0-1.807-.853-1.807-1.875C.237.83 1.055.012 2.044.012c1.022 0 1.84.818 1.84 1.807 0 1.022-.818 1.875-1.84 1.875ZM12.339 15.25v-4.943c0-1.193-.034-2.693-1.67-2.693-1.637 0-1.875 1.261-1.875 2.59v5.046h-3.17V5.057h3.033v1.398h.034c.443-.784 1.466-1.636 3-1.636 3.205 0 3.818 2.113 3.818 4.84v5.591h-3.17Z"/></svg>' },
    { svg: '<svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" fill="none" viewBox="0 0 18 16"><path fill="inherit" d="M17.423 8.389a.553.553 0 0 1-.224-.048l-4.696-2.098a.547.547 0 0 1 0-.997l4.696-2.09a.549.549 0 0 1 .723.276.548.548 0 0 1-.277.72l-3.579 1.593 3.58 1.6a.546.546 0 0 1-.223 1.044ZM11.022 15.999c-5.163 0-9.678-3.477-10.976-8.455a.547.547 0 0 1 1.059-.275 10.242 10.242 0 0 0 9.917 7.639.547.547 0 1 1 0 1.09ZM9.137 11.467a.547.547 0 0 1-.547-.546V.547a.547.547 0 0 1 1.094 0V10.92a.547.547 0 0 1-.547.546Z"/></svg>' }
  ].each do |icon| %>
            <li>
              <a href="#" class="flex items-center justify-center cursor-pointer hover:opacity-70 [transition:opacity_300ms]">
                <%= icon[:svg].gsub('<svg', '<svg class="fill-[#34302D] [transition:fill_300ms] dark:fill-[#FEFEFE]"').html_safe %>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </footer>
    <%= yield :scripts %>
  </body>
</html>
